// Text panel styles
.text {
  overflow-y: scroll;

  .passage {

    padding: 0px 16px 128px 16px;

    @include medium {
      padding-left: 32px;
      padding-right: 32px;
    }

    @include large {
      padding: 0px 32px 128px 32px;
    }

    &__title {
      @include small {
        font-size: 16px;
      }
    }

    &__copy,
    &__highlight {
      padding: 1px;
      margin: 0px 2px;
      line-height: 28px;
      letter-spacing: 1.1px;
      margin: 0 0 16px;
      font-weight: 200;

      &.passage__highlight-active {

        color: #666;
        background-color: #eee;
        border-radius: 1px;
        font-weight: 400;

        &:before,
        &:after {
          content: "";
          background-color: #37474f;
        }
      }
    }

    &__spacer {
      height: 16px;
    }

  }
}
