// Results view styles.
.results {

  display: flex;
  flex-flow: column nowrap;

  tr.correct {
    background-color: transparentize(green, 0.9);
    i {
      color: green;
    }
  }
  tr.wrong {
    background-color: transparentize(red, 0.95);
    i {
      color: red;
    }
  }

  table {
    margin-bottom: 32px;
  }
  button {
    margin: 24px 0px;
    align-self: flex-end;
  }

}
