html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #666; }

.mdl-grid {
  padding: 0px; }

.mdl-cell {
  margin: 0px;
  padding: 32px; }

.root .mdl-layout--fixed-drawer.is-upgraded:not(.is-small-screen) > .mdl-layout__header {
  margin-left: 0 !important;
  width: 100%;
  z-index: 6; }

.mdl-layout__drawer {
  margin-top: 64px;
  padding: 10px; }
  @media (min-width: 1200px) {
    .mdl-layout__drawer {
      width: 50%;
      transform: translateX(50%); } }

.mdl-layout--fixed-drawer > .mdl-layout__content {
  padding: 10px; }
  @media (min-width: 1200px) {
    .mdl-layout--fixed-drawer > .mdl-layout__content {
      margin-left: 50%; } }

@media (min-width: 1200px) {
  .mdl-layout__drawer-button {
    display: none; } }

.mdl-layout--fixed-drawer > .mdl-layout__header .mdl-layout__header-row {
  padding: 0px 32px; }
  @media (min-width: 1200px) {
    .mdl-layout--fixed-drawer > .mdl-layout__header .mdl-layout__header-row {
      padding-left: 32px; } }

.mdl-data-table {
  white-space: normal; }

.quiz {
  position: relative;
  margin-left: 32px;
  padding-left: 0px; }
  .quiz .directions__copy {
    line-height: 28px;
    letter-spacing: 1.1px;
    margin: 0 0 16px;
    font-weight: 300; }
  .quiz .question {
    position: absolute;
    width: calc(100% - 128px);
    transition: all .2s; }
    .quiz .question p {
      padding: 10px;
      margin-bottom: 0px;
      text-align: left;
      position: relative;
      padding-left: 51px;
      line-height: 28px;
      font-weight: 300; }
    .quiz .question__answer {
      cursor: pointer;
      transition: all .2s; }
      .quiz .question__answer:hover {
        background-color: #f2f2f2;
        color: ligthen(#000, 10%); }
        .quiz .question__answer:hover:before {
          color: #777;
          background-color: #ccc; }
      .quiz .question__answer:before {
        content: '';
        display: inline-block;
        position: absolute;
        left: 16px;
        top: 10px;
        line-height: 25px;
        padding-top: 1px;
        width: 25px;
        height: 25px;
        background-color: #777;
        color: #eee;
        border-radius: 15px;
        text-align: center;
        font-weight: 100;
        transition: all .2s; }
    .quiz .question__solution {
      font-style: italic; }
    .quiz .question .answer-A:before {
      content: 'A'; }
    .quiz .question .answer-B:before {
      content: 'B'; }
    .quiz .question .answer-C:before {
      content: 'C'; }
    .quiz .question .answer-D:before {
      content: 'D'; }
  .quiz .results tr.correct {
    background-color: rgba(0, 128, 0, 0.1); }
    .quiz .results tr.correct i {
      color: green; }
  .quiz .results tr.wrong {
    background-color: rgba(255, 0, 0, 0.05); }
    .quiz .results tr.wrong i {
      color: red; }
  .quiz .results table {
    margin-bottom: 32px; }
  .quiz span {
    display: flex;
    justify-content: center; }

.text {
  overflow-y: scroll; }
  .text .passage span {
    padding: 1px;
    margin: 0px 2px;
    line-height: 28px;
    letter-spacing: 1.1px;
    margin: 0 0 16px;
    font-weight: 200; }
    .text .passage span .passage__spacer {
      height: 16px; }
  .text .passage__highlight-active {
    color: #666;
    background-color: #eee;
    border-radius: 1px; }
    .text .passage__highlight-active:before, .text .passage__highlight-active:after {
      content: "";
      background-color: #37474f; }

.card-enter {
  opacity: 0.01;
  left: 100%; }

.card-enter.card-enter-active {
  opacity: 1;
  left: 0%;
  transition: all 200ms ease-in; }

.card-leave {
  opacity: 1;
  left: 0%; }

.card-leave.card-leave-active {
  opacity: 0.01;
  left: -100%;
  transition: all 200ms ease-in; }

.view-enter {
  opacity: 0.01;
  left: 100%; }

.view-enter.view-enter-active {
  opacity: 1;
  transition: all 500ms ease-in; }

.view-leave {
  opacity: 1;
  left: 0%; }

.view-leave.card-leave-active {
  opacity: 0.01;
  transition: all 500ms ease-in; }

/*# sourceMappingURL=index.css.map */
