// Adjustments to Material Design layout.
.mdl-grid {
  padding: 0px;
}

.mdl-cell {
  margin: 0px;
  padding: 32px;
}

.root .mdl-layout--fixed-drawer.is-upgraded:not(.is-small-screen) > .mdl-layout__header {
  margin-left: 0!important;
  width: 100%;
  z-index: 6;
}

.mdl-layout__drawer {
  // width: 85%;
  margin-top: 64px;
  padding: 10px;
  @include respond-to('large'){
    width: 50%;
    transform: translateX(50%);
  }
}

.mdl-layout--fixed-drawer > .mdl-layout__content {
  padding: 10px;
  @include respond-to('large'){
    margin-left: 50%;
  }
}

.mdl-layout__drawer-button {
  @include respond-to('large'){
    display: none;
  }
}

.mdl-layout--fixed-drawer>.mdl-layout__header .mdl-layout__header-row {
  padding: 0px 32px;
  @include respond-to('large'){
    padding-left: 32px;
  }
}

.mdl-data-table {
  white-space: normal;
}
