// Adjustments to Material Design layout.
.mdl-grid {
  padding: 0px;
}

.mdl-cell {
  margin: 0px;
  padding: 32px;
}

.mdl-layout__drawer {
  // width: 85%;
  padding: 10px;
  @include respond-to('large'){
    width: 450px;
    transform: translateX(-450px);
  }
}

.mdl-layout--fixed-drawer>.mdl-layout__content {
  padding: 10px;
  @include respond-to('large'){
    margin-left: 450px;
  }
}

.mdl-layout__header-row {
  padding: 0px 32px;
}
