html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #666;
}

@import './mixins';
@import './mdl-overrides';

.quiz {
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-left: 32px;
}

.text {
  overflow-y: scroll;
}

.question {
  position: absolute;
  width: calc(100% - 128px);
  transition: all .2s;

  p {
    padding: 10px;
    margin-bottom: 0px;
    text-align: left;
    position: relative;
    padding-left: 51px;
  }

  &__title {
  }

  &__answer {
    cursor: pointer;
    transition: all .2s;
    &:hover {
      background-color: darken(#FFF,5%);
      color: ligthen(#000,10%);

      &:before {
        color: #777;
        background-color: #ccc;
      }
    }
    &:before {
      content: '';
      display: inline-block;
      position: absolute;
      left: 16px;
      top: 10px;
      line-height: 25px;
      padding-top: 1px;
      width: 25px;
      height: 25px;
      background-color: #777;
      color: #eee;
      border-radius: 15px;
      text-align: center;
      font-weight: 100;
      transition: all .2s;
    }
  }

  &__solution {
    font-style: italic;
  }

  .answer-A:before {
    content: 'A';
  }
  .answer-B:before {
    content: 'B';
  }
  .answer-C:before {
    content: 'C';
  }
  .answer-D:before {
    content: 'D';
  }
}

.passage {

  &__title {}

  &__copy {
      line-height: 28px;
      letter-spacing: 1.1px;
      margin: 0 0 16px;
      font-weight: 200;
  }

  span {
    display: inline-block;
    padding: 1px;
    margin: 0px 2px;
  }
  &__highlight {
    color: #666;
    // padding: 3px 0px;
    background-color: #eee;

    &:before,
    &:after {
      content: "";
      background-color: #37474f;
    }
  }

}

.results {
  ul {
    list-style: none;
    padding-left: 0px;

    &:first-child {
      // border-right: 1px solid #ccc;
    }

    li {
      padding: 5px 0px;
      // margin: 0px 10px;
      border-bottom: 1px solid #ccc;
    }
  }
}

// card animation
.card-enter {
  opacity: 0.01;
  left: 100%;
}

.card-enter.card-enter-active {
  opacity: 1;
  left: 0%;
  transition: all 200ms ease-in;
}

.card-leave {
  opacity: 1;
  left: 0%;
}

.card-leave.card-leave-active {
  opacity: 0.01;
  left: -100%;
  transition: all 200ms ease-in;
}
