html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #666;
}

@import './mixins';
@import './mdl-overrides';

@import './components/quiz';
@import './components/passage';

// card animation
.card-enter {
  opacity: 0.01;
  left: 100%;
}

.card-enter.card-enter-active {
  opacity: 1;
  left: 0%;
  transition: all 200ms ease-in;
}

.card-leave {
  opacity: 1;
  left: 0%;
}

.card-leave.card-leave-active {
  opacity: 0.01;
  left: -100%;
  transition: all 200ms ease-in;
}

// view animation
.view-enter {
  opacity: 0.01;
  left: 100%;
}

.view-enter.view-enter-active {
  opacity: 1;
  transition: all 500ms ease-in;
}

.view-leave {
  opacity: 1;
  left: 0%;
}

.view-leave.card-leave-active {
  opacity: 0.01;
  transition: all 500ms ease-in;
}
